canvas {
    border: 2px solid lightgray;
    width: 100%;
    margin-top: 2rem;
    cursor: default;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 5rem;
}

.button-container {
    display: block;
    margin: auto;
    width: 80%;
}

.button {
    background-color: #03A9F4;
    border: none;
    padding: 10px 10px;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    width: 130px;
    margin-top: 3px;
    cursor: pointer;
}

.order {
    background-color: #0074a9;
    border: none;
    padding: 5px 5px;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    width: 97px;
    margin-top: 3px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #0074a9;
    outline: none;
}

.order:hover,
.order:focus {
    background-color: #7393B3;
    outline: none;
}

input[type="file"] {
    display: none;
}

.btn-secondary {
    background: lightgrey;
    color: black;
    margin-top: 1rem;
}